/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */
.footer {
    background-color: white;
    border-top: 1px solid #dee2e6;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 10;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.footer ul {
    list-style-type:none;
    padding:0px;
    display:table;
    margin-left: auto;
}
.footer .avarar{
    width: 24px;
    height: 24px;
    /*border: 3px solid #FFF;*/
    /*-moz-border-radius: 20%;*/
    /*-webkit-border-radius: 20%;*/
    border-radius: 50%;
}
.footer li { display:inline;}
.footer li a { color:#999; margin:0 12px;}
/*.footer-copyright{padding-top: 10px}*/

.footer li{border-right: 1px solid #cccccc;}
.footer li:last-child{border-right: 0px}
.footer .m-list{display: none}
.footer .icons-list{width: 24px; height: 24px}

@media (max-width:420px){
    .footer .footer-menu{display: none}
    .footer .m-list{display: unset}
    .footer{height: unset}
}