/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 280px;
    position: fixed;
    top: 0;
    left: -280px;
    height: 100vh;
    z-index: 999;
    background: white;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);*/
}

#sidebar.active {
    left: 0;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f8f9fa;
    border-bottom: 1px solid #dddfe0;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #dddfe0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}
/*.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}*/
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    SIDEBAR PROFILE
----------------------------------------------------- */
.profile {
    width: 100%;
    float: left;
    padding: 15px 10px;
    position: relative;
    background: #e28b0b;
    margin-bottom: 15px;
}
.profile .profile-image {
    float: left;
    width: 100%;
    margin: 0 0 10px;
    text-align: center;
}
.profile .profile-image img {
    width: 100px;
    border: 3px solid #FFF;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
}
.profile .profile-data {
    width: 100%;
    float: left;
    text-align: center;
}
.profile .profile-data .profile-data-name {
    width: 100%;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #FFF;
}
.profile .profile-data .profile-data-title {
    width: 100%;
    float: left;
    font-size: 11px;
    font-weight: 400;
    color: #961207;
}
.profile .profile-controls a {
    width: 30px;
    height: 30px;
    font-size: 14px;
    color: #DDD;
    border: 2px solid #DDD;
    line-height: 25px;
    position: absolute;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    padding: 0px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.profile .profile-controls a.profile-control-left {
    left: 15px;
    top: 53px;
    text-align: center;
}
.profile .profile-controls a.profile-control-right {
    right: 15px;
    top: 53px;
    text-align: center;
}
.profile .profile-controls a .fa,
.profile .profile-controls a .glyphicon {
    width: auto;
    margin-right: auto;
}
.profile .profile-controls a:hover {
    border-color: #FFF;
    color: #FFF;
}
