.icon{width: 24px;height: 24px}
.icon-lg{width: 30px;height: 30px}
.padding-left-0{padding-left: 0px}
.padding-left-15{padding-left: 15px}
.padding-left-25{padding-left: 25px}
.margin-bottom-15{margin-bottom: 15px;}
.margin-top-15{margin-top: 15px;}
.padding-bottom-5{padding-bottom: 5px}
.padding-right-15{padding-right: 15px}
.padding-right-0{padding-right: 0px}
.padding-top-15{padding-top: 15px}
.padding-bottom-15{padding-bottom: 15px}

.bg-star-1{
  background-color:#dc3545;
}
.bg-star-2{
  background-color:#ffc107;
}
.bg-star-3{
  background-color:#17a2b8;
}
.bg-star-4{
  background-color:#28a745;
}
.bg-star-5{
  background-color:#28a745;
}